﻿@model OrderListViewModel

@{
	ViewBag.Title = "Scheduled orders report";
}
<div>
	<h1 class="page-header">Scheduled orders report</h1>
	<div>
		@using (Html.BeginForm("Index", "Home", FormMethod.Post))
		{
			<div class="row">
				<div class="col-md-1 control-label">
					@Html.LabelFor(m => m.SelectedCity)
				</div>
				<div class="col-md-1">
					@Html.DropDownListFor(m => m.SelectedCity, Model.Cities as SelectList, "-- Select City --")
				</div>
			</div>
			<div class="row">
				<div class="col-md-1 control-label">
					@Html.LabelFor(m => m.SelectedCountry)
				</div>
				<div class="col-md-1">
					@Html.DropDownListFor(m => m.SelectedCountry, Model.Countries as SelectList, "-- Select Country --")
				</div>
			</div>
			<input type="submit" value="Filter" />
		}
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Order ID</th>
				<th>Date of order</th>
				<th>Employee name</th>
				<th>Customer name</th>
				<th>Ship country</th>
				<th>Ship city</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var order in Model.Orders)
			{
				<tr class="odd gradeX">
					<td>@order.OrderId</td>
					<td>@order.OrderDate.Date.ToShortDateString()</td>
					<td>@order.EmployeeName</td>
					<td>@order.CustomerName</td>
					<td>@order.Country</td>
					<td>@order.City</td>
				</tr>
			}
		</tbody>
	</table>
</div>