﻿@model EmployeeViewModel
<div>
    @using (Html.BeginForm("Save", "Employee", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary()
        <fieldset>
            <legend>@ViewBag.legend</legend>
           @Html.HiddenFor(m => m.Id)
           <div class="form-group">
                @Html.LabelFor(m => m.Lastname, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control input-md" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Firstname, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control input-md" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Patronymic, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Patronymic, new { @class = "form-control input-md" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control input-md" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-md" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Сохранить" />
            </div>
        </fieldset>
    }
</div>

