﻿@model EmployeeListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Список сотрудников</h1>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Табельный номер</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Телефон</th>
                    <th>Email</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                @if(Model.Employees.Count() == 0)
                {
                    <tr>
                        <td colspan="7" class="text-center">Сотрудники отсутствуют</td>
                    </tr>
                }
                else
                {
                    foreach (var employee in Model.Employees)
                    {
                        <tr>
                            <td>@employee.Id</td>
                            <td>@employee.Lastname</td>
                            <td>@employee.Firstname</td>
                            <td>@employee.Patronymic</td>
                            <td>@employee.Phone</td>
                            <td>@employee.Email</td>
                            <td>
                                <a href="/Employee/Edit?id=@employee.Id" class="btn-xs, btn-primary">Редактировать</a>
                                <a href="/Employee/Remove?id=@employee.Id" class="btn-xs, btn-danger">Удалить</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div>
            @Html.ActionLink("Добавить сотрудника", "Add", null, new { @class = "btn btn-md btn-primary" })
        </div>
    </div>
</div>
