<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<title>HelloWorld AngularJS App</title>
</head>
<body>
<label>Введите имя:</label>
<input type="text" ng-model="name" placeholder="Введите имя:" />

<h1>Добро пожаловать {{ name }}! </h1>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
</body>
</html>