﻿@model IEnumerable<CommentViewModel>

<fieldset>
<legend>Комментарии</legend>
@foreach (var comment in @Model)
{
    <div>Комментарий от @comment.CommentDate</div>
    <div>@comment.CommentAuthorName написал:</div>
    <div>@comment.CommentText</div>
}
</fieldset>
