<!DOCTYPE html>
<html ng-app="scopeApp">
<head>
	<meta charset="utf-8">
	<title>Scope App</title>
</head>
<body>
	<div ng-controller="scopeController">
		<h2>Модуль: {{ moduleName }}</h2>
		<h3>Сообщение: {{ message }}</h3>
	</div>
	<h4>{{ message }}</h4>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script type="text/javascript">
		
		// Каждое приложение AngularJS имеет один объект $rootScope, 
		// который является родительским по отношению ко всем остальным объектам $scope.
		// По сути, $rootScope - глобальный объект $scope, доступный из любого места приложения.
		var scopeApp = angular.module('scopeApp', [])
						.run(function($rootScope) {
							$rootScope.moduleName = "scopeApp";
							$rootScope.message = "Hello, AngularJS!";
						});

		scopeApp.controller('scopeController', function($scope) {
			$scope.message = 'scopeController  Controller'});
	</script>
</body>
</html>