<!DOCTYPE html>
<html ng-app="phoneStoreApp">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/mystyles.css" />
</head>
<body>
	<style>
		.odd { background-color: #fafafa; }
		.even { background-color: silver; }
	</style>
	<div ng-controller="phoneController">
		<label>Изменить название первого телефона:</label>

		<!-- Директива ng-model позволяет для двусторонней привязки как к свойствам объекта, так и к вложенным свойствам !-->
		<!-- Данная директива применима только к элементам input, textarea и select -->
		<input type="text" ng-model="phones[0].name" />
		<!-- /ng-model -->

		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Model name</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="phone in phones" ng-class="$odd ? 'odd' : 'even'">
					<td>{{ $index + 1 }}</td>
					<td>{{ phone.name }}</td>
					<!-- Директива ng-bind-template позволяет задать шаблон привязки с использованием выражений. !-->
					<td ng-bind-template="{{ phone.price }} $" />
					<!-- /ng-bind-template -->
				</tr>
			</tbody>
		</table>

		<!-- Директива ng-model используется для создания односторонней привязки элемента к выражению. !-->
		<p>Количество элементов: <span ng-bind="phones.length" /></p>
		<p>Первый элемент: <span ng-bind="phones[0].name" /></p>
		<!-- /ng-bind -->

	</div>
	<script src="js/lib/angular.min.js"></script>
	<script type="text/javascript">
		angular.module('phoneStoreApp', []);
	</script>
	<script src="js/controllers/phonesController.js"></script>
</body>
</html>