﻿@model BlahBlahBlog.UI.Models.PostViewModel

@{
    ViewBag.Title = "Добавление новой статьи";
}
<h2>CreatePost</h2>
<fieldset>
    @using (Html.BeginForm())
    {
        <legend>Добавление новой статьи</legend>
            
        @Html.ValidationSummary()
          
        <div class="editor-label">
            @Html.LabelFor(m => m.PostTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.PostTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.PostExcerpt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.PostExcerpt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.PostContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.PostContent)
        </div>

        <br />
        <input type="submit" value="Опубликовать" />
    }
</fieldset>

