﻿@model BlahBlahBlog.UI.Models.PostViewModel

@{
    ViewBag.Title = "Редактирование статьи";
}

<html>
<body>
    <fieldset>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary();
            @Html.AntiForgeryToken();

            <legend>Редактирование статьи</legend>
            @Html.HiddenFor(m => m.PostId)
            <div class="editor-label">
                @Html.LabelFor(m => m.PostTitle)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.PostTitle)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.PostExcerpt)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.PostExcerpt)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.PostContent)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.PostContent)
            </div>
            <input type="submit" value="Опубликовать" />
        }
        </fieldset>
</body>
</html>
