﻿@model BlahBlahBlog.UI.Models.PostViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.PostTitle | Blah-Blah Blog</title>
</head>
<body>
    <div> 
        <h1>@Model.PostTitle</h1>
        <div>Обубликовано: @Model.PostDate</div>
        <div>@Html.Raw(Server.HtmlDecode(Model.PostContent))</div>

        @if(Model.Comments.Count() > 0)
        {
            @Html.Partial("~/Views/Comment/Index.cshtml", Model.Comments);
        }
        @{ Html.RenderAction("Create", "Comment", new { postId = Model.PostId }); }
    </div>
</body>
</html>
